# 1ere PARTIE

In [14]:
dataset = [
    ['Skirt', 'Sneakers', 'Scarf', 'Pants', 'Hat'],

    ['Sunglasses', 'Skirt', 'Sneakers', 'Pants', 'Hat'],

    ['Dress', 'Sandals', 'Scarf', 'Pants', 'Heels'],

    ['Dress', 'Necklace', 'Earrings', 'Scarf', 'Hat', 'Heels', 'Hat'],

    ['Earrings', 'Skirt', 'Skirt', 'Scarf', 'Shirt', 'Pants']
]

# BONUS : un peu de visualisation

In [15]:
import pandas as pd
df_=pd.DataFrame(dataset)

In [16]:
df_

            0         1         2      3      4      5     6
0       Skirt  Sneakers     Scarf  Pants    Hat   None  None
1  Sunglasses     Skirt  Sneakers  Pants    Hat   None  None
2       Dress   Sandals     Scarf  Pants  Heels   None  None
3       Dress  Necklace  Earrings  Scarf    Hat  Heels   Hat
4    Earrings     Skirt     Skirt  Scarf  Shirt  Pants  None

#### Afin d'utiliser la fonction apriori, nous devons transformer notre ensemble de données en un DataFrame encodé à chaud.
#### Transaction Encoder crée un tableau NumPy à partir d'une liste et "one-hot" et l'encode (mais dans un format True/False et non en 1 et 0).

In [2]:
import mlxtend
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
te=TransactionEncoder()
te_ary=te.fit(dataset).transform(dataset)    #Apply one-hot-encoding on our dataset
df=pd.DataFrame(te_ary, columns=te.columns_)  #Creating a new DataFrame from our Numpy array
df

,Dress,Earrings,Hat,Heels,Necklace,Pants,Sandals,Scarf,Shirt,Skirt,Sneakers,Sunglasses
0,False,False,True,False,False,True,False,True,False,True,True,False
1,False,False,True,False,False,True,False,False,False,True,True,True
2,True,False,False,True,False,True,True,True,False,False,False,False
3,True,True,True,True,True,False,False,True,False,False,False,False
4,False,True,False,False,False,True,False,True,True,True,False,False

#### Support :  le support quantifie la fréquence d'un ensemble d'éléments.
#### Confiance : Après avoir acheté l'article X, quelle est la probabilité d'acheter l'article Y ?
#### Lift : Quelle est la probabilité d'acheter les articles X et Y ensemble plutôt que d'acheter uniquement l'article X. si lift <=1 peu probable sinon prob

In [3]:
# Sélectionnons des ensembles d'éléments avec un support minimum de 60 %
from mlxtend.frequent_patterns import apriori
frequent_itemsets=apriori(df, min_support=0.6,use_colnames=True)
frequent_itemsets

   support        itemsets
0      0.6           (Hat)
1      0.8         (Pants)
2      0.8         (Scarf)
3      0.6         (Skirt)
4      0.6  (Pants, Scarf)
5      0.6  (Pants, Skirt)

#### Nous remarquons que la frequence que Pantts et Scarf soient achetés est élevée (80%)

In [4]:
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="confidence",min_threshold=0.7) # associate itemsets with confidence over 70%.

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Pants),(Scarf),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
1,(Scarf),(Pants),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
2,(Pants),(Skirt),0.8,0.6,0.6,0.75,1.2500,0.12,1.6
3,(Skirt),(Pants),0.6,0.8,0.6,1.00,1.2500,0.12,inf

### pour mieux vendre skirt et pants nous pouvons les mettres cote à cote parce que nous avons remarqué la majeure partie des personnes qui achete skirt achete pants aussi

In [5]:
# Associating based on lift
from mlxtend.frequent_patterns import association_rules 
association_rules(frequent_itemsets,metric="lift",min_threshold=1.25)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Skirt),(Pants),0.6,0.8,0.6,1.0,1.25,0.12,inf

# FIN DE LA 1ere PARTIE

# Partie 2

In [6]:
df_=pd.read_csv("Market_Basket_Optimisation.csv")
df_.head()

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# replace all the nan values with '' and inplace=True to commit the changes into the dataframe
df_.fillna('',axis=1,inplace=True)
df_.head()

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,,,,,,,,,,,,,,,,,
1,chutney,,,,,,,,,,,,,,,,,,,
2,turkey,avocado,,,,,,,,,,,,,,,,,,
3,mineral water,milk,energy bar,whole wheat rice,green tea,,,,,,,,,,,,,,,
4,low fat yogurt,,,,,,,,,,,,,,,,,,,